@keyframes rotateToUp {
    0% {transform: rotateX(25deg);}
    50% {transform: rotateX(-20deg);}
    100% {transform: rotateX(-25deg);}
}

@keyframes rotateToDown {
    0% {transform: rotateX(-25deg);}
    50% {transform: rotateX(20deg);}
    100% {transform: rotateX(25deg);}
}

.PercussionContainer h4 {
    margin: 5px;
}

.PercussionContainer {
    display: flex;
    align-items: center;
}

.PercussionButtonDown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
    height: 60%;
    width: 75px;
    border-radius: 5px;
    padding: 0;
    background: linear-gradient(#c5c5c5, #e5e5e5);
}

.PercussionButtonUp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
    height: 60%;
    width: 75px;
    border-radius: 5px;
    padding: 0;
    background: linear-gradient(#e5e5e5, #c5c5c5);
}

.innerContainerDown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 95%;
    background-color: #e5e5e5;
    border-radius: 5px;
    transform: rotateX(25deg);
    animation-name: rotateToUp;
    animation-duration: 750ms;
}

.innerContainerUp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 95%;
    background-color: #e5e5e5;
    border-radius: 5px;
    transform: rotateX(-25deg);
    animation-name: rotateToDown;
    animation-duration: 750ms;
}

.ShadowActive {
    height: 10px;
    width: 100%;
}

.text {
    font-size: 12px;
}

.Gap {
    min-width: 10px;  
}